.navbrand-1{
    color: white !important;
    font-size: 25px !important;
    font-family: Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
    
}

.navitem-1{
    padding-left: 30px;
    padding-top: 5px;
    font-size: 95%;
    font-family: Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
    font-weight: bold;
}

.navitem-2{
    color: white !important;
    padding-left: 500px;
    font-size: 110%;
    font-family: Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
    padding-top: 5px;
}  

.navbar{
 z-index:9; 
 margin-top: 0px;
 color: white !important;
}
a {
    color: white !important; 
  }
a:hover { 
    background-color: transparent !important;
    color: black !important;
  }
  .navbar .navbar-text {
    color: #f9f7f7;
  }
  
  
.container-1{
    color: white !important;
    height: 50px;
}

.brand-img{
    filter: invert(100%); 
}
