.blog-min-body{
  width:300px;
  height: 450px;
  border: 1px solid grey;
  border-radius: 20px;
  margin:20px;
  padding: 20px;
  cursor: pointer;
  display: inline-block;
  top: 0%;
  vertical-align: top;
  background-color: #aaaaaaaa;
}

.body-blogs{
  width:1100px;
  margin:auto;
}

.img-fondo-min-blog{
  width:260px;
  height: 160px;
  border-radius: 20px;
  /*position: fixed;*/
  margin:auto;
}

.title-blogs{
  width: 500px; 
  margin: auto;
  text-align: center;
}

.blog-min-text{
  height: 200px;
}

.blog-min-content{
}

.full-blogs{
  background-color: white;
  background-image: url("https://www.facua.org/es/images/noticia9515h.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}