.div-total-total{
  background-color: white;
  background-image: url("https://www.facua.org/es/images/noticia9515h.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding:20px;
}

.div-total{
  margin: 30px auto;
  text-align: left;
  width:750px;
  padding: 30px;
  border-radius: 50px;
  background-color: #aaaaaaaa;
}

.post-thumbnail{
  width: 690px;
  margin: 20px auto;
}

.post-title{
  font-size: 50px;
}

.post-autor{
  font-size: 32px;
}