.chatbot, .chatbot-min{
  position: fixed;
  z-index: 5;
  border: 1px solid gray;
  bottom: 50px;
  left: 50px;
  padding: 20px;
  background-color: whitesmoke;
}

.chatbot{
  width: 350px;
  border-radius: 10px;
}

.chatbot-min{
  border-radius: 100px;

}

.chatbot-footer, .chatbot-header{
  padding: 10px;
}

.chatbot-header, .chatbot-header-min{
  height: 60px;
  background-color: greenyellow;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding:10px;
  cursor:pointer;
}

.chatbot-header-min{
  border-radius:100px;
}

.chatbot-header-min1{
  background-image: url('../Thumbnails/travel.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height:100%;
  border-radius: 100px;
  float: left;
}

.chatbot-header-min2{
  margin-top: 5px;
  float: left;
}

.chatbot-content{
  padding: 5px 10px;
  height: 250px;
  background-color: cyan;
  overflow-y: auto;
}

.chatbot-footer{
  height: 60px;
  background-color: purple;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-left, .chat-right{
  /*display: inline-block;*/
  padding:10px;
  border-radius: 5px;
  margin:5px;
}

.chat-left{
  margin-right: 40px;
  background-color: blanchedalmond;
}

.chat-right{
  margin-left: 40px;
  background-color: yellowgreen;
  text-align: right;
}

.chatbot-input-field{
  width: 100%;
  height:100%;
  border-radius: 10px;
  padding:4px;
}

.oculto{
  display: none;
}