.-event{
    display: block;
    position: relative;
}
.cont-fill{
    display: block;
    height: 800px;
    border: 0px solid red;
}
.eve-1{
    opacity: 0.95;
    width: 100%;
    height: 800px;
    background-image: url('https://villageatthewoodlandswaterway.com/wp-content/uploads/ThinkstockPhotos-526833490.jpg');
    background-size: cover;
    position: relative;
}
.-eve{
    
    z-index: 100px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: 170px;
    margin-right: 170px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    border-radius: 8px;
}
.-title{
    height: 100px;
    top: 40px;
    text-align: center;
    padding-top: 5px;
}
.eve-title-txt{
    font-size: 70px;
    font-size: 1000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.-cont{
    top: 200px;  
}

.item-titles{
    height: 70px;
    background-color: whitesmoke;
    border-bottom: 2px solid black;
}
.item-titles-1{
    display: inline-block;
    width: 10%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    padding-top: 23px;
}
.item-titles-2{
    display: inline-block;
    width: 30%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    padding-top: 23px;
}
.item-titles-3{
    display: inline-block;
    width: 15%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    padding-top: 23px;
}
.item-titles-4{
    display: inline-block;
    width: 15%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    padding-top: 23px;
}
.item-titles-5{
    display: inline-block;
    width: 15%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    padding-top: 23px;
}
.item-titles-6{
    display: inline-block;
    width: 15%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    padding-top: 23px;
}
.txt-eve-title{
    font-size: 17px;
    font-weight: 800;
}


.-chk{
    width: 28px;
    height: 28px;
    position: relative;
    background: #fcfff4;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.eve-item{
    height: 70px;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
}
.item-1{
    display: inline-block;
    width: 10%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    
    
    vertical-align: top;
}
.item-2{
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    
    vertical-align: top;
}
.item-3{
    display: inline-block;
    width: 15%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    
    vertical-align: top;
}
.item-4{
    display: inline-block;
    width: 15%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    
    vertical-align: top;
}
.item-5{
    display: inline-block;
    width: 15%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    
    vertical-align: top;
}
.item-6{
    display: inline-block;
    width: 15%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    
    vertical-align: top;
}

.item-txt{
    font-size: 15px;
    font-weight: 500;
}
