.-foot{
    padding-top: 20px; 
    display: block;
    margin-left: 170px; 
    margin-right: 170px;
    margin-top: 5px;
    width: 50%;
}

.foot-txt{
    font-size: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.footer{
    display: block;
    width: 100%;
    min-height: 100px;
    background-color: #343a40;
    padding-top: 1px;
    box-sizing: border-box;
    overflow: hidden;
}