.form-div{
  width: 900px;
  margin:auto;
  border-radius: 50px;
  background-color: #aaaaaaaa;
  padding:50px;
}

.div-total-final{
  background-image: url('http://www.myhimalayas.com/everest/image/large/gyachung_kang_from_gokyo_ri.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}