.packet{
    display: block;
    position: relative;
}

.-pk{
    height: 500px;
    z-index: 100px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: 170px;
    margin-right: 170px;
    top: 140px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    border-radius: 8px;
}

.pk-origen{
    width: 25%;
    height: 100%;
    float: left;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    border-radius: 8px;
}
.pk-origen-1{
    width: 100%;
    height: 45%;
    position: relative;
}
.pk-origen-1-1{
    width: 70%;
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 50px;
    text-align: end;
    color: whitesmoke;
    font-size: 35px;
}
.pk-origen-2-1{
    border-right: 1px solid black;
    width: 40%;
    height: 8%;
    float: left;
    text-align: center;
    padding-top: 9px;
    padding-left: 5px;
    padding-right: 5px;
}
.aerolinea{
    font-size: 15px;
    font-weight: 700;
}
.pk-origen-2-2{
    width: 60%;
    height: 8%;
    float: right;
    padding-top: 9px;
    padding-left: 5px;
    padding-right: 5px;
}
.aeroitem{
    text-align: center;
    font-size: 14px;
    font-weight: 450;
    color: black;
}
.pk-origen-3{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 37%;
    clear: both;
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
}
.informacion{
    padding-left: 5px;
    font-size: 13px;
    font-weight: 450;
    
}
.pk-origen-4{
    width: 100%;
    height: 10%;  
}
.img-origen{
    width: 55px;
    height: 55px;
    display: block;
    margin: 0 auto;
}
.img-default{
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    border-radius: 8px 8px 0 0;
}
.img-destino{
    width: 55px;
    height: 55px;
    display: block;
    margin: 0 auto;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, 1);
}
.pk-destino{
    width: 25%;
    float: right;
    height: 100%;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    border-radius: 8px;
}
.pk-destino-1-1{
    width: 70%;
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 50px;
    color: whitesmoke;
    font-size: 35px;
    text-align: start;
}
.pk-destino-2-1{
    float: left;
    width: 60%;
    height: 8%;
    padding-top: 9px;
    padding-left: 5px;
    padding-right: 5px;
}
.aeroitem-des{
    text-align: center;
    font-size: 14px;
    font-weight: 450;
    color: black;
}
.pk-destino-2-2{
    float: right;
    border-left: 1px solid black;
    width: 40%;
    height: 8%;
    text-align: center;
    padding-top: 9px;
    padding-left: 5px;
    padding-right: 5px;
}
.aerolinea-des{
    font-size: 15px;
    font-weight: 700;
}
.pk-info{
    width: 50%;
    margin: 0 auto;
    height: 100%;
}

.pk-info-cont{
    width: 90%;
    background-color: whitesmoke;
    margin: 0 auto;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    border-radius: 8px;
}

.pk-info-1{
    border-bottom: 4px solid #f92a6b;
    height: 10%;
    background-color: #3d3b87;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.info-nombre{
    text-align: center;
    padding-top: 0px;
    font-size: 30px;
    font-weight: 700;
    color: whitesmoke;
}
.pk-info-2{
    margin-top: 10px;
    height: 30%;
    padding-bottom: 0px;
}
.pk-info-2-1{
    width: 60%;
    height: 100%;
    margin-left: 20px;
    background-color: #3d3b87;
    border-radius: 4px;
    float: left;
    padding-left: 10px;
    padding-top: 5px;
}
.desc-txt{
    font-size: 12px;
    font-weight: 600;
    color: whitesmoke
}
.pk-info-2-2{
    width: 25%;
    height: 100%;
    margin-right: 20px;
    float: right;
    background-color: #3d3b87;
    border-radius: 4px;
}
.pk-info-2-2-txt{
    text-align: center;
    color: whitesmoke;
}

.cupos{
    margin-top: 15px;
    font-size: 60px;
}
.cupos-txt{
    font-size: 12px;
    font-weight: 700;
    background-color: #f92a6b;
    color: whitesmoke;
}

.pk-info-titles{
    margin-top: 10px;
    height: 5%;
}
.pk-info-ida{
    float: left;
    height: 100%;
    width: 35%;
    margin-left: 10%;
    text-align: center;
    padding-top: 3px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #f92a6b;
}
.title-txt{
    font-weight: 600;
    font-size: 12px;
    color: whitesmoke;
}
.pk-info-vuelta{
    float: right;
    width: 35%;
    height: 100%;
    margin-right: 10%;
    text-align: center;
    padding-top: 3px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #f92a6b;
}
.pk-info-3{
    margin-top: 0px;
    height: 10%;
    width: 100%;  
}
.pk-info-3-1{
    display: inline-block;
    width: 10%;
    height: 100%;
    vertical-align: top;
}
.pk-info-3-2{
    display: inline-block;
    width: 10%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    background-color: #3d3b87;
    border-bottom-left-radius: 4px;
}
.pk-info-3-3{
    display: inline-block;
    width: 25%;
    height: 100%;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 20px;
    border: 4px solid #3d3b87;
    border-bottom-right-radius: 4px;
    
}
.pk-info-3-4{
    display: inline-block;
    width: 10%;
    height: 100%;
    vertical-align: top;
}
.pk-info-3-5{
    display: inline-block;
    width: 10%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    background-color: #3d3b87;
    border-bottom-left-radius: 4px;
}
.pk-info-3-6{
    display: inline-block;
    width: 25%;
    height: 100%;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 20px;
    border: 4px solid #3d3b87;
    border-bottom-right-radius: 4px;
}
.pk-info-3-7{
    display: inline-block;
    width: 10%;
    height: 100%;
    vertical-align: top;
}
.pk-info-4{
    height: 30%;
    margin-top: 10px;
}
.pk-info-4-1{
    height: 100%;
    width: 30%;
    margin-top: 0px;
    display: inline-block;
    vertical-align: top;
    background-color: #f75822;
}
.pk-info-4-1-1{
    display: block;
    text-align: center;
    margin-top: 30px;
}
.pk-info-4-1-2{
    text-align: center;  
}
.precio-txt{
    font-weight: 600;
    font-size: 15px;
    display: block;
    position: relative;
    bottom: 5px;
    color: whitesmoke;
}
.pk-info-4-2{
    width: 70%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #3dc119;
    border-top: 2px solid #3dc119;
    border-bottom: 2px solid #3dc119;
    background-color: #3dc119;
}
.pk-info-4-2-1{
    background-color: #3dc119;
    height: 40%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.pk-info-4-2-1-1{
    display: inline-block;
    width: 10%;
    vertical-align: top;
    height: 100%;
    text-align: center;
    
}
.pk-info-4-2-1-2{
    display: inline-block;
    width: 5%;
    vertical-align: top;
    height: 100%;
    text-align: center;
}
.x-txt{
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    font-weight: 500;
}
.pk-info-4-2-1-3{
    display: inline-block;
    width: 10%;
    vertical-align: top;
    height: 100%;
    text-align: center;
    background-color: #f75822;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pk-info-4-2-1-4{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    height: 100%;
    padding-left: 8px;
    padding-top: 6px;
    border: 3px solid #f75822;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: whitesmoke;
}
.price-txt{
    font-size: 15px;
    font-weight: 500;
}
.pk-info-4-2-1-5{
    display: inline-block;
    width: 5%;
    vertical-align: top;
    height: 100%
}
.pk-info-4-2-1-6{
    display: inline-block;
    width: 10%;
    vertical-align: top;
    height: 100%;
    text-align: center;
}
.pk-info-4-2-1-7{
    display: inline-block;
    width: 5%;
    vertical-align: top;
    height: 100%;
    text-align: center;
}
.pk-info-4-2-1-8{
    display: inline-block;
    width: 10%;
    vertical-align: top;
    height: 100%;
    text-align: center;
    background-color: #f75822;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pk-info-4-2-1-9{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    height: 100%;
    padding-left: 8px;
    padding-top: 6px;
    border: 3px solid #f75822;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: whitesmoke;
}
.pk-info-4-2-1-10{
    display: inline-block;
    width: 5%;
    vertical-align: top;
    height: 100%
}
.pk-info-4-2-2{
    height: 0%;
}
.pk-info-4-2-3{
    background-color: #f75822;
    height: 15%;
    padding-left: 5px;
}
.viajeros-txt{
    font-size: 13px;
    color: whitesmoke;
    font-weight: 700;
    
}
.pk-info-4-2-4{
    height: 45%;
}
.pk-info-4-2-4-1{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border: 4px solid #3dc119;
    background-color: whitesmoke;
}
.pk-info-4-2-4-1-1{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    
}
.adult-icon{
    text-align: center;
    height: 50%;
    background-color: #c832ff;
}
.adult{
    width: 30px;
    height: 30px; 
}
.text-icon{
    text-align: center;
    height: 50%;
    font-size: 15px;
    font-weight: 500;
    background-color: #48ef1a;
}
.pk-info-4-2-4-1-2{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.pk-info-4-2-4-2{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border: 4px solid #3dc119;
}
.pk-info-4-2-4-2-1{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    
}
.kid-icon{
    text-align: center;
    height: 50%;
    background-color: #ed1410;
    
}
.-color-kid{
    background-color: #eeff11;
}
.kid{
    width: 26px;
    height: 26px;  
}
.pk-info-4-2-4-2-2{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: whitesmoke;
}

.input-viajeros{
    width: 40px;
    height: 30px;
    margin-top: 14px;
    margin-left: 24px;
    box-sizing: border-box;
}

.pk-info-5{
    height: 9%;
}
.pk-info-5-1{
    height: 100%;
    width: 70%;
    float: left;
    background-color: #3d3b87;
    text-align: end;
    border-bottom-left-radius: 7px;
}
.pk-info-5-2{
    height: 100%;
    width: 30%;
    border: 1px solid red;
    float: right;
    background-color: #f92a6b;
    text-align: center;
    border-bottom-right-radius: 7px;
}
.subtotal{
   color: whitesmoke;
   padding-right: 10px;
   padding-top: 7px;
   font-size: 20px;
}
.subtotal-precio{
    color: whitesmoke; 
    padding-top: 7px;
    font-size: 18px;
 }





.img-info-1{
    width: 45px;
    height: 45px;   
}
.img-info-2{
    width: 65px;
    height: 65px;  
}
.img-person{
    width: 30px;
    height: 30px; 
    margin-top: 15%;
}
.img-kid{
    width: 26px;
    height: 26px; 
    margin-top: 20%;
}
.img-symbol{
    width: 26px;
    height: 26px; 
    margin-top: 20%;
}

.pk-img-1{ 
    opacity: 0.95;
    float: left;
    width: 50%;
    height: 800px;
    background-image: url('https://cdn.pixabay.com/photo/2017/12/03/04/20/titlis-2994226_960_720.jpg');
    background-size: cover;
    position: relative;
}
.pk-img-2{
    opacity: 0.95;
    float: right;
    width: 50%;
    height: 800px;
    background-image: url('https://headsup.boyslife.org/files/2016/07/volcano.jpg');
    background-size: cover; 
    position: relative;
}