.ListBundles {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-buffer { margin-top:20px; }

.img-fluid{
    border: 1px solid red;
    max-width: 100%;
    height: auto;
}

.img-1{
    background-image: url('./berlin.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    border-radius: 8px 8px 0 0;
}

.txt-1{
    padding-top: 3px;
    padding-left: 10px;
}
.txt-1-1{
    color: black;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.txt-1-2{
    color: grey;
    font-size: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.txt-1-3{
    color: black;
    font-size: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 15px;
}

.txt-2{
    padding-top: 15px;
    
}
.left-txt{
    float: left;
    color: black;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.left-txt-1{
    font-size: 80%;
}
.left-txt-2{
    font-size: 120%;     
}
.right-txt{
    float: right;
    color: black;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
}
.right-txt-1{
    font-size: 80%;  
}
.right-txt-2{
    font-size: 120%;
}
.Bundle{
    display: block;
    max-width: 100%;
    height: 100%;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    border-radius: 8px;
}

.Bundle:hover{
    transition: .2s;
    transform: scale(1.05);
    opacity: 0.8;
    transition: opacity .2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Bundle-in-1{
    display: block;
    height: 50%;
    max-width: 100%;
}

.Bundle-in-2{
    display: block;
    height: 30%;
    max-width: 100%;
    border-radius: 4px;
}
.Bundle-in-3{
    display: block;
    border-top: 1px solid grey;
    height: 20%;
    max-width: 100%;
}

.col-sm-1{
    border: 0px solid green;  
}

.col-sm-3{  
    height: 400px;
}

.break{
    width: 100%;
    border: 1px solid green;
    margin-right: 20px;
    margin-left: 20px;
}

.ListBundles2{
    display: block;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: red;
}