.carousel-1{
    height: 500px;
    padding: 0;
    position: relative;
    margin-top: -130px;
    
}

.carousel-item-img{
    opacity: 0.79;
    object-fit: cover;
    width: 100%;
    max-height: 500px; 
}