.search-box{
    display: block;
    margin-bottom: 35px;
    padding: 15px 10px 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1062.5px;
}

.search-box-outer-container{
    position: relative;
    z-index: 1;
    overflow: visible;
    
    transition: max-height 0s 0s, opacity .3s 0s ease-out, transform .3s 0s;
    max-height: 1000%;
    transform: translateY(0);
    opacity: 1;

    padding: 15px 20px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #FFF;

    box-shadow: 0 4px 8px rgba(68,68,68,0.2);
}

.search-box-header{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.box-title{
    font-size: 20px;
    line-height: 28px;
    color: #666;
    font-weight: 500;
}

.box-row{
    display: flex;
    align-items: flex-end;
}

.box-proportion{
    flex: 0 0 50%;
}

.box-origen{
    display: block;
    flex: 1;
}

.box-destino{
    display: block;
    flex: 1;
    margin-left: 4px;
}

.box-label{
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    letter-spacing: 0.8pt;
}

.box-input-container{
    flex: 1;
}

.box-input{
    position: relative;
}

.input-tag{
    border-radius: 6px;
    width: 100%;
    height: 36px;
    padding: 0 16px;
    font-size: 14px;

    transition: border-color .3s ease-out;
    border-color: #CCC;
    color: #444;
    -webkit-appearance: none;
    box-sizing: border-box;
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
}

input:focus{
    border-color: blue;
    border-radius: 2px;
}

.validation-msg{
    top: auto;
    right: 0;
    bottom: 100%;
    left: auto;
    margin: auto 5px -12px;
}

.-wrap{
    flex-wrap: wrap;
}

.box-dates-container{
    flex: 1;
    margin: 0 30px;
}

.box-dates-label{
    flex-basis: calc(50% + 2px);
    color: #444;
}

.box-dates-row{
    display: flex;
    width: 100%;
}

.box-dates-ida{
    flex: 1;
    position: relative;
}

.box-dates-vuelta{
    flex: 1;
    margin-left: 0px;
    position: relative;
}

.box-button{
    margin-left: 12px;
}

.box-button{
    margin-left: 12px;
}

.btn-1{
    height: 36px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 36px;
    background-color: #343a40;
    display: block;

    box-sizing: border-box;
    border-radius: 18px;
    user-select: none;
    transition: background-color .3s ease-out;
    outline: 0;
    border: none;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;

    font-weight: 500;
}

.btn-text{
    transition: transform .2s;
    color: #FFF;
    font-style: normal;
    display: inline-block;
    vertical-align: top;
}

a:hover{
    background-color: #666;
}


